In [32]:
"""
Q1  done
Q2  not done completely
Q3  done
Q4  done
Q5  done
Q6  done
Q7  done
Q8  done
Q9  done
Q10  done
Q11  done
Q12  done
Q13  not done completely
Q14  not done completely
q15 done
"""

'\nQ1\nQ1\nQ1\n\n'

In [31]:
""""1: ineuron 
    ineuron ineuron
    ineuron  ineuro ineuron
    ineuron  ineuro ineuron  ineuron 
    
    """
#DONE
n=4
for i in range(4):
    for j in range(0,i+1):
         print("ineuron", end = " ")  
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [30]:
""""2  ineuron  
ineuron ineuron
ineuron  ineuro ineuron
    ineuron  ineuro 
ineuron  """


#NOT COMLETELY DONE
#HAVE TRIED MANY OPTIONS AND CONFUSED NOW: PLS HELP

import math
n=5
st = "ineuron"
middle=math.floor(n/2)
if n % 2 == 0: 
    pass
else:
    math.ceil(n/2)
    
for m in range(1,n+1):
    if m <= middle:
        k=middle-m
        for i in range(k):
            print("   "*len(st),end="")
        print(("     "+st +"  "+"    "*len(st)+"  ")*m)
    else:
        rsp=m-middle
        r=n-m+1
        for r2 in range(r):
            print(" "*len(st)*rsp,st,end="  ")
        print("\n")

                          ineuron
     ineuron                                     ineuron
        ineuron          ineuron          ineuron

               ineuron                 ineuron

                      ineuron

In [11]:
""""" Q3: l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]"""

#DONE

#3.try to extract all the list entry

l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [7]:
l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]
#DONE
# 4.try to extract all the dict entries

for i in l:
    if type(i) == dict:
        print(i)

[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]

In [9]:
l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

#DONE
# 5.try to extract all the tuple entries


for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [125]:
l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

# DONE
#6. try to extract all the numerical data even if it is dict key and values

l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i:
            if type(j) == int :
                l1.append(j)
    if type(i) == dict :
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                l1.append(k) 
                l1.append(v)
        

l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [126]:
l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

# DONE
#7. try to give summassion of all numeric data.



l2=[]
Sum = 0
for i in l:
    if type(i) == int:
        l2.append(i)
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i:
            if type(j) == int :
                l2.append(j)
    if type(i) == dict :
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                l2.append(k) 
                l2.append(v)

l2
b = sum(l2)
print(b)

156

In [134]:
l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]


# DONE
#8.try to filter out all the odd values of the numeric data which is 
#the part of the list


l2=[]
l3=[]
Sum = 0
for i in l:
    if type(i) == int:
        l2.append(i)
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i:
            if type(j) == int :
                l2.append(j)

l2
for a in l2:
    if a % 2 != 0 :
        l3.append(a)

l3

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23]

In [136]:
l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

# DONE
#9.try to extract ineuron out of this data
l4= []
for i in l:
    if type(i) == str :
        if i == "ineuron":
            l4.append()
    if type(i) == list or type(i) == tuple or type(i) == set :
         for j in i:
            if j == "ineuron" :
                l4.append(j)
    if type(i)==dict :
        for k,v in i.items():
            if k == "ineuron" or v == "ineuron" : 
                l4.append(v)  

l4

['ineuron', 'ineuron']

In [139]:
l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

# DONE
#10. try to find the number of occurance of all the data


l5=[]
for i in l:
    if type(i) == str :
            l5.append()
    if type(i) == list or type(i) == tuple or type(i) == set :
         for j in i:
                l5.append(j)
    if type(i)==dict :
        for k,v in i.items(): 
            l5.append(k)
            l5.append(v)  
    
l5
set(l5)
for i in set(l5):
       print(i, " : ", l5.count(i))

1  :  1
2  :  2
3  :  4
4  :  4
5  :  3
6  :  3
7  :  2
k1  :  1
sudh  :  1
k2  :  1
8  :  1
45  :  1
k3  :  1
kumar  :  1
23  :  1
data science  :  1
ineuron  :  2

In [109]:
# DONE
#Q11. try to find out number of keys in dict element

l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

for i in l:   
    if type(i) == dict:
        print(i.keys())
        print(len(i.keys()))

dict_keys(['k1', 'k2', 'k3', 3, 7])
5

In [124]:
#DONE
#Q12.try to filter out all string data

l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

l6=[]
for i in l:
    if type(i) == str :
        l6.append(i)
    if type(i) == list or type(i) == tuple or type(i) == set :
         for j in i:
            if type(j) == str:
                l6.append(j)   
    if type(i)==dict :
        for k,v in i.items():
            if type(k) == str or type(v) == 3:
                l6.append(k) 
                l6.append(v)                         


l6

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

In [ ]:
#NOT DONE
#Q13.try to find alpha num in data

l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

l5=[]
l6=[]
for i in l:
    if type(i) == str :
        l5.append(i)
    if type(i) == list or type(i) == tuple or type(i) == set :
         for j in i:
                l5.append(j)
    if type(i)==dict :
        for k,v in i.items(): 
            l5.append(k)
            l5.append(v)  
    
x=l5
for i in range(0,len(x)):
    if type(x[i]) == str:
        if x[i].isalnum() == True:
            l6.append(x[i])
l6

In [ ]:
#Q14.try to find out multiplication of all numeric value in the induvidual collection inside dataset

l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]

mulint =1
mullist = 1
multuple= 1
mulset =1
muldict = 1
ll = []
lt = []
ls = []

for i in l:
    if type(i) == int:
        mulint = mulint * i
        
    if type(i) == list :
        for m in l:
            if type(m) == int:
                ll.append(m)
                
    if type(i) == tuple :
        for t in l:
            if type(t) == int:
                lt.append(t)
    
    if type(i) == set :
        for s in l:
            if type(s) == int:
                ls.append(s)
        
        
    if type(i) == dict :
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                muldict = muldict * k *v
    
for mm in ll:
    mullist= mullist* mm

for tt in lt:
    mullist= mullist* tt
    
for ss in ls:
    mullist= mullist* ss

    
print("1",mulint)
print("2",mullist)
print("3",multuple)
print("4",mulset)
print("5",muldict)

In [1]:
# DONE
#unwrap all the collection inside collectionand create the flat list


l =[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
        {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
        ["ineuron","data science"]]
l9=[]
for i in l:
    if type(i) == str :
            l9.append()
    if type(i) == list or type(i) == tuple or type(i) == set :
         for j in i:
                l9.append(j)
    if type(i)==dict :
        for k,v in i.items(): 
            l9.append(k)
            l9.append(v)  
    
l9

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']